
#map {
    height: 400px;
    width: 100%;
}

:root {
    --send-form-button: #698303;
    --send-button-hover: #aaaaaa;
    --form-elements: #f1f4f5;
    --border: #647d03;
    --element-focus: #698303;
}

#contact-form input:not([type=radio]):not([type=checkbox]),
#contact-form select,
#contact-form textarea,
#contact-form fieldset {
    padding: 10px;
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--border);
    background-color: var(--form-elements);
}

#contact-form input:focus {
    color: var(--send-button-hover);
}

#contact-form button {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.7em;
    background-color: var(--send-form-button);
}

#contact-form button:hover {
    background-color: var(--send-button-hover);
}

.contact-us p {
    color: var(--text);
}

address {
    color: var(--text);
}