
:root {
    /* index.html */
    --our-customer-bg: #f1f4f5;
    --our-customer-blocks: #EDEDED;
    --title-size: 36px;
}

#home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 1 / 13;
}

.our-staff {
    grid-column: 3 / 11;
}

.our-customers {
    padding: 2em 20% 2em 20%;
    grid-column: 1 / 13;
}

.recent-post {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-column: 1 / 13;
}

header .header-image {
    background-image: url("../images/cabecera_inicio.jpg");
    background-position: 0 30%;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

header p {
    position: absolute;
    top: 25%;
    left: 16%;
}

/* Our customers */

.our-staff {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(5, 1fr);
}

.our-staff h1 {
    place-self: center;
    grid-column: 1 / 6;
}

.our-staff section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-staff section span {
    padding: 0 .5em;
    position: absolute;
    top: calc(300px - 21px);
    right: 0;
    background-color: white;
}


.our-staff p {
    place-self: center;
    grid-column: 1 / 6;
    color: var(--text);
}

.marketing-staff {
    grid-column: 2 / 3;

}

.web-developer {
    grid-column: 3 / 4;
}

.graphic-designer {
    grid-column: 4 / 5;
}

/* Our customers */

.our-customers {
    background-color: var(--our-customer-bg);
}

.our-customers h1 {
    font-size: 18px;
}

.review {
    padding: 2em;
    margin: 1em;
    border-left: 10px solid var(--dark-green);
    background-color: var(--our-customer-blocks);
}

.our-customers q {
    position: relative;
    color: var(--middle-green);
}

.our-customers q:after {
    content: no-close-quote;
}

.our-customers q:before {
    display: block;
    position: absolute;
    left: -15px;
    top: 0;
    font-size: 30px;
}

.our-customers cite {
    margin: 1em;
    display: block;
    text-align: right;
    color: var(--dark-green);
}


/* Recent post */
.recent-post.post-image {
    height: 250px;
    background-size: cover;
    background-position: 0 30%;
    filter: brightness(0.4) saturate(1.5);
}

.recent-post {
    color: white;
    background: url("../images/fondo_inicio.jpg");
}

.recent-post p {
    text-align: center;
    padding: 0 5em 0 5em;
    background-color: rgba(255, 255, 255, 0.59);
}

.recent-post img {
    border-radius: 50%;
    border: 5px solid white;
}

.post-list {
    display: flex;
    justify-content: center;
}

.post a:hover {
    color: var(--recent-posts-hover);
}





