
:root {
    /* index.html */
    --our-customer-bg: #f1f4f5;
    --our-customer-blocks: #EDEDED;
    --title-size: 36px;
}

#home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 1 / 13;
}

.our-staff {
    grid-column: 3 / 11;
}

.our-customers {
    grid-column: 3 / 11;
}

.recent-post {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    grid-column: 1 / 13;
}

header .header-image {
    background-image: url("../images/cabecera_inicio.jpg");
    background-position: 0 30%;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

header p {
    position: absolute;
    top: 25%;
    left: 16%;
}

/* Our customers */

.our-staff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.our-staff h1 {
    place-self: center;
    grid-column-start: 2;
}

.our-staff section {
    /*grid-column-start: 2;*/
}

.our-staff p {
    place-self: center;
    grid-column: 1 / 4;
    color: var(--text);
}

/* Our customers */

.our-customers {

}

/* Recent post */
.recent-post {
    color: white;
    background: url("../images/fondo_inicio.jpg");
}

.recent-post p {
    text-align: center;
    padding: 0 5em 0 5em;
    background-color: rgba(255, 255, 255, 0.59);
}

.recent-post img {
    border-radius: 50%;
    border: 5px solid white;
}

.post-list {
    display: flex;
    justify-content: center;
}

.post a:hover {
    color: var(--recent-posts-hover);
}





