
:root {
    --green-top-strip-table: #698303;
    --green-side-table: #85a701;
    --green-side-table-2: #a1c905;
    --gray-table-alternate-backgrounds: #f2f2f2;

    --title-size-prices: 2.5em;
    --prices-size-header: 2.2em;
    --title-size-table: 2em;
}


.tg {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-s5ks {
    background-color: var(--green-top-strip-table);
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    vertical-align: top
}

.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-d52n {
    background-color: var(--green-side-table-2);
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-llyw {
    background-color: var(--gray-table-alternate-backgrounds);
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-706m {
    background-color: var(--green-side-table);
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-0pky {
    text-align: center;
    border-color: inherit;
    vertical-align: top
}

header h1 {
    font-size: var(--title-size-prices);
}

.service-prices h1 {
    font-size: var(--prices-size-header);
}

.service-prices p {
    color: var(--text);
}

.service-catalog h1 {
    font-size: var(--title-size-table);
    text-align: center;
    font-style: italic;
}